{% if user.is_authenticated %}
<div class="manu floatright">
  <ul id="nav-top">
    <li><a href="/">Home</a></li>
    <li><a href="/profile">{{user.username}}</a></li>
    <li><a href="/create_post">Create Post</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
{% else %}
<div class="manu floatright">
  <ul id="nav-top">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</div>
{% endif %}
