{% load static %}
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <title>Welcome to my site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'font/font.css' %}" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="screen" />

</head>

<body>
  <div class="fix header_area">
    <div class="fix wrap header">
      <div class="logo floatleft">
        <a href="/">
          <h1>Fresh Blog</h1>
        </a>
      </div>
      {% include 'header.html' %}
    </div>
  </div>

  <div class="manu_area">
    <div class="mainmenu menu-wrap wrap">
      <ul id="nav-bottom">
        <li>
          <a href="">Categories</a>
          <ul>

            {% for cat in category %}
            <li><a href="/category/{{cat}}">{{cat}}</a></li>
            {% endfor %}


          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>
  <div></div>
  <div class="fix wrap content_wrapper">
    <div class="fix content">
      <div class="fix main_content floatleft">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
    </div>
    <div class="fix sidebar floatright">
      <div class="fix single_sidebar">
        <div class="popular_post fix">
          <h2>Popular</h2>
          <div class="fix single_popular">
            <img src="images/popular.png" class="floatleft" />
            <h2>Vestibum Malesuada Etiam Magna</h2>
            <p>12 Nov, 2012</p>
          </div>
          <div class="fix single_popular">
            <img src="images/popular.png" class="floatleft" />
            <h2>Vestibum Malesuada Etiam Magna</h2>
            <p>12 Nov, 2012</p>
          </div>
          <div class="fix single_popular">
            <img src="images/popular.png" class="floatleft" />
            <h2>Vestibum Malesuada Etiam Magna</h2>
            <p>12 Nov, 2012</p>
          </div>
        </div>
      </div>
      <div class="fix single_sidebar">
        <h2>Search</h2>
        <input class="search" type="text" placeholder="Search and hit enter" />
      </div>
      <div class="fix single_sidebar">
        <h2>A little about me</h2>
        <p>
          Praesent commodo cursus magna, vel scelerisque nisl consectetur
          et. Aenean lacinia bibendum nulla sed consectetur. Vivamus
          sagittis lacus vel augue laoreet rutrum. Sed posuere consectetur
          est at mant lobortis. Sed posuere consectetur est lobortis.
          Fusce mauris condimentum.
        </p>
      </div>
    </div>
  </div>
  </div>

  <div class="fix bottom_add_bar">
    <div class="addbar_leaderborard">
      <img src="http://placehold.it/728x90" />
    </div>
  </div>
  </div>

  <!--Clean template by WpFreeware.com-->

  <div class="fix footer_top_area">
    <div class="fix footer_top wrap">
      <div class="fix footer_top_container">
        <div class="fix single_footer floatleft">
          <h2>From Twitter</h2>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Nullam id dolor
            id ultricies vehicula ut id elit. <br /><br />Cum sociis natoque
            penatibus et magnis parturient montes, nascetur ridiculus mus.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis.Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis.
          </p>
          <br />
          <p>
            Cum sociis natoque penatibus et magnis parturient montes, nascetur
            ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia
            quam venenatis.Aenean eu leo quam. Pellentesque ornare sem lacinia
            quam venenatis.
          </p>
        </div>
        <div class="fix single_footer floatleft">
          <h2>usefull links</h2>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">about us</a></li>
            <li><a href="">privacy policy</a></li>
            <li><a href="">contact us</a></li>
          </ul>
        </div>
        <div class="fix single_footer floatleft">
          <div class="popular_post fix">
            <h2>Popular</h2>
            <div class="fix single_popular">
              <img src="images/popular.png" class="floatleft" />
              <a href="">
                <h2>Vestibum Malesuada Etiam Magna</h2>
              </a>
              <p>12 Nov, 2012</p>
            </div>
            <div class="fix single_popular">
              <img src="images/popular.png" class="floatleft" />
              <a href="">
                <h2>Vestibum Malesuada Etiam Magna</h2>
              </a>
              <p>12 Nov, 2012</p>
            </div>
            <div class="fix single_popular">
              <img src="images/popular.png" class="floatleft" />
              <a href="">
                <h2>Vestibum Malesuada Etiam Magna</h2>
              </a>
              <p>12 Nov, 2012</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fix footer_area">
    <div class="wrap">
      <div class="fix copyright_text floatleft">
        <p>
          Designed By
          <a href="http://www.wpfreeware.com" rel="nofollow">WpFreeware</a>
        </p>
      </div>
      <div class="fix social_area floatright">
        <ul>
          <li><a href="" class="feed"></a></li>
          <li><a href="" class="facebook"></a></li>
          <li><a href="" class="twitter"></a></li>
          <li><a href="" class="drible"></a></li>
          <li><a href="" class="flickr"></a></li>
          <li><a href="" class="pin"></a></li>
          <li><a href="" class="tumblr"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/placeholder_support_IE.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/selectnav.min.js' %}"></script>
  <script type="text/javascript">
    selectnav("nav-top", {
      label: "-Navigation-",
      nested: true,
      indent: "-",
    });

    selectnav("nav-bottom", {
      label: "-Navigation-",
      nested: true,
      indent: "-",
    });
  </script>
  <script src="{% static 'http://code.jquery.com/jquery.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!--
		
		This Template is designed by WpFreeware.com Team, You are allowed to change anything you like.
		Find out More Awesome template at http://www.WpFreeware.com.
		
		-->
</body>

</html>