{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Welcome to my site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'font/font.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" />
    <link
      href="{% static 'css/responsive.css' %}"
      rel="stylesheet"
      media="screen"
    />
  </head>

  <body>
    <div class="fix header_area">
      <div class="fix wrap header">
        <div class="logo floatleft">
          <a href="/"><h1>Fresh Blog</h1></a>
        </div>
        {% include 'header.html' %}
      </div>
    </div>
    <div class="fix content_area">
      <div class="manu_area">
        <div class="mainmenu wrap">
          <ul id="nav-bottom">
            <li>
              <a href="">Categories</a>
              <ul>
                {% for cat in category %}
                <li><a href="/category/{{cat}}">{{cat}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="fix wrap content_wrapper">
        <div class="fix content">
          <div class="fix main_content floatleft">
            <div class="single_page_content fix">
              <h1>{{post.title}}</h1>
              <div class="single_post_meta fix">
                <p>
                  {{post.created_at}} | {{post.category}} | Poseted
                  By:{{post.posted_by}}
                </p>
              </div>
              <img
                src="{{post.post_image.url}}"
                class="single_feature_img"
                alt=""
              />
              <p>{{post.post}}</p>
            </div>
          </div>

          <div class="fix sidebar floatright">
            <div class="fix single_sidebar">
              <div class="popular_post fix">
                <h2>Related Post</h2>
                <div class="fix single_popular">
                  <img src="images/popular.png" class="floatleft" />
                  <h2>Vestibum Malesuada Etiam Magna</h2>
                  <p>12 Nov, 2012</p>
                </div>
                <div class="fix single_popular">
                  <img src="images/popular.png" class="floatleft" />
                  <h2>Vestibum Malesuada Etiam Magna</h2>
                  <p>12 Nov, 2012</p>
                </div>
                <div class="fix single_popular">
                  <img src="images/popular.png" class="floatleft" />
                  <h2>Vestibum Malesuada Etiam Magna</h2>
                  <p>12 Nov, 2012</p>
                </div>
              </div>
            </div>
            <div class="fix single_sidebar">
              <h2>Search</h2>
              <input
                class="search"
                type="text"
                placeholder="Search and hit enter"
              />
            </div>
            <div class="fix single_sidebar">
              <h2>A little about me</h2>
              <p>
                Praesent commodo cursus magna, vel scelerisque nisl consectetur
                et. Aenean lacinia bibendum nulla sed consectetur. Vivamus
                sagittis lacus vel augue laoreet rutrum. Sed posuere consectetur
                est at mant lobortis. Sed posuere consectetur est lobortis.
                Fusce mauris condimentum.
              </p>
            </div>
          </div>
          <div class="fix main_content floatleft">
            <div class="single_page_content fix">
              <h1>Related Post</h1>
              <div class="single_post_meta fix">
                <p>
                  {% for rel in related %}
                  <h2 color='blue'><a href="/post/{{rel.id}}">{{rel.title}}</a></h2>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fix footer_area">
      <div class="fix wrap footer">
        <div class="fix copyright_text floatleft"></div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{% static 'js/selectnav.min.js' %}"
    ></script>
    <script type="text/javascript">
      selectnav("nav", {
        label: "-Navigation-",
        nested: true,
        indent: "-",
      });
    </script>
    <script src="http://code.jquery.com/jquery.js"></script>

    <!--
		
		This Template is designed by WpFreeware.com Team, You are allowed to change anything you like.
		Find out More Awesome template at http://www.WpFreeware.com.
		
		--></body>
</html>
